<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958398223685-3voegl6jbfh1jargh6vanbrlgpuvdc52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958398223685-3voegl6jbfh1jargh6vanbrlgpuvdc52</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>958398223685-ue6qj6dhkgpmskbei877psfbma0clb0o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAm65vQKBiDcOSff9-HzO4pjoEMpcAmcWI</string>
	<key>GCM_SENDER_ID</key>
	<string>958398223685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gym</string>
	<key>PROJECT_ID</key>
	<string>fitnessapp-54747</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnessapp-54747.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958398223685:ios:8823f0adf953aa1e2c5a2c</string>
</dict>
</plist>